@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap");

:root {
  /* Palette */
  --black: #0c0e0a;
  --white: #fffffa;
  --cream: #e5dcc5;
  --red: #f71735;
  --purple: #6d72c3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--white);
  font-family: "Red Rose", cursive;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#home {
  background-color: var(--black);
}

#title {
  flex-grow: 1;
  /* font-size: 7rem; */
  font-size: 2rem;
}

#vase {
  flex-grow: 10;
}

#vase-square {
  background-color: var(--white);
  color: var(--black);
  /* padding: 2.5rem; */
  height: 80%;
  /* width: 35rem; */
  width: 80vw;
  max-width: 422px;
}

#credits {
  flex-grow: 1;
  margin: auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Inputs  */
input,
select {
  background-color: var(--black);
  border: 0;
  color: var(--white);
  padding: 0.5rem;
  width: 100%;
}
#fg1 {
  grid-area: fg1;
}
#fg2 {
  grid-area: fg2;
}
#fg3 {
  grid-area: fg3;
}
#fg4 {
  grid-area: fg4;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 5rem);
  /* grid-template-areas:
    "fg1 fg1"
    "fg2 fg2"
    "fg3 fg4"; */
  grid-template-areas:
    "fg1 fg1"
    "fg2 fg2"
    "fg4 fg4"
    "fg3 fg3";
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

/* Error List  */
#issues {
  background-color: black;
}
.issue {
  color: var(--black);
  background-color: var(--white);
  margin: 1rem 0;
  width: 80vw;
  /* box-shadow: 0px 0px 10px 6px var(--white); */
}
.issue > * {
  padding: 1rem;
}
.issue-open {
  box-shadow: 0px 0px 10px 6px var(--red);
}
.issue-open .title-n-status {
  color: var(--red);
}
.issue-closed {
  box-shadow: 0px 0px 10px 6px var(--purple);
}
.issue-closed .title-n-status {
  color: var(--purple);
}
.issue .status {
  font-size: 0.7rem;
}
.btn {
  border: 0;
  padding: 0.4rem;
  color: var(--cream);
  background-color: var(--black);
  font-family: "Red Rose", cursive;
}
.icon {
  margin-right: 1rem;
}

/* Mobile L  */
@media only screen and (min-width: 425px) {
  .issue {
    width: 70vw;
  }

  #title {
    font-size: 3rem;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .issue {
    width: 60vw;
  }
}

/* Laptop  */
@media only screen and (min-width: 1024px) {
  .issue {
    width: 50vw;
  }
}

/* 4K  */
@media only screen and (min-width: 2560px) {
}
